@keyframes gradientShift {
    0%, 100% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
  }
  
  .animated-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #96344c8c, #73939b8c, #33cc9e7a, #ac5b6f8c);
    background-size: 800% 100%; 
    animation: gradientShift 90s linear infinite;
  }